.App {
  text-align: center;
  
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.formular-wrapper{
  width: 90vw;
  max-width: 60rem;
  /* min-height: 100vh; */
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  div, header{
    // width: 100%;
  }
}

.form-wrapper{
  width: 100%;
  text-align: left;
  line-height: 1.9;
  font-size: 1.1rem;
  input{
    display: inline;
  }
  input{
    width: auto;
    // background: red;
    border: 1px solid transparent;
    background: transparent;
    // border-bottom: 1px solid black;
    padding: 0;
    // margin-bottom: 2px;
    // margin-top: -5px;
    text-align: center;
  }
}

.form-row{
  background: #ececec;
  padding: 1.3rem;
  margin-bottom: 1.5rem;
  div{
    // width: 100%;
    min-width: 120px;
    text-align: center;
    // background: red;
    border-bottom: 1px solid black;
    // padding-left: 15px
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 3px;
  }
}

.jumbo-paragraph{
  font-size: 1.3rem;
}


.initial-data--inner-wrapper{
  // background: red;
  

}

.signature-wrapper{
  display: flex;
  flex-direction: column;
  canvas{
    border: 1px solid black;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
